/* Vue */
[v-cloak] {
  position: relative;
}

[v-cloak]>* {
  visibility: hidden;
}

[v-cloak]:before {
  content: "";
  background: url("../images/ajax-loader.gif") no-repeat top center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div[data-pending="true"]:before {
  background: #fff;
  opacity: 0.9;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
}

div[data-pending="true"]:after {
  content: "Processing... Please wait...";
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1002;
  text-align: center;
  color: #222;
  font-size: 18px;
  font-style: italic;
}

[data-error="true"] label {
  color: red;
}

[data-error="true"] .form-control {
  border: 1px solid red;
}

[data-error="true"] a {
  color: rgb(170, 14, 14);
}

.min-height-500 {
  min-height: 500px;
}

body {
  scroll-behavior: smooth;
}

.hero {
  background: #343a40;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.section-title {
  margin-bottom: 30px;
  font-weight: bold;
}

footer {
  background: #f8f9fa;
  padding: 20px;
  text-align: center;
}


/* COuntdown */
.app-countdown[data-theme="blue"]{
  color: #2196f3;
}
.app-countdown[data-theme="blue"] .btn-primary{
  background: #2196f3;
}
.app-countdown[data-theme="blue"] .progress-circle .progress{
  stroke: #2196f3;
}
.app-countdown .timer {
  display: flex;
  justify-content: center;
  position: relative;
}
.app-countdown .timer .text {
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.progress-circle {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
}

.progress-circle svg {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  /* added scaleX(-1) */
}

.progress-circle .bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}

.progress-circle .progress {
  fill: none;
  stroke: #00bfff;
  stroke-width:1;
  stroke-dasharray: 75 100;
  /* 75% */
  /* stroke-linecap: round; */
  transition: stroke-dasharray 0.3s;
}

